spring:
  application:
    name: mini-pay

  datasource:
    url: jdbc:mysql://localhost:3306/minipay?serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: sihyun
    password: plate0113!
    hikari:
      maximum-pool-size: 20     # 동시에 사용 가능한 최대 DB 연결 수
      minimum-idle: 5           # 최소 유휴 커넥션 수 (항상 대기 상태로 유지)
      connection-timeout: 30000 # 커넥션 풀에서 커넥션을 얻기 위한 최대 대기 시간 (30초)


  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  config:
    import:
      - classpath:policy-account.yml

# java -XX:+PrintFlagsFinal -version # JVM이 사용하는 내부 설정값(Flags)을 전부 출력
# 기본 JVM 메모리 설정: -Xms = 약 256MB, -Xmx = 약 4GB (전체의 1/4)
# Stack Memory (-Xss) 기본: 1MB per thread
# GC 관련 기본 설정은 G1 -> 전체 heap의 45% 사용 시 GC 시작
# G1ReservePercent = 10 → GC 성능 보장을 위한 여유 공간 (10%)
# MaxRAMPercentage	전체 메모리 중 heap 사용 비율	25%
# CICompilerCount	JIT 컴파일러 스레드 수	4개
# ConcGCThreads	GC 시 병렬로 작업할 스레드 수	2개 (자동 조정 설정)
server:
  port: 8080
  tomcat:
    threads:
      max: 200
      min-spare: 10


springdoc:
  swagger-ui:
    tags-sorter: alpha

logging:
  level:
    root: info
#trace
#debug
#warn
#info
#error

